:root {
    --primary: #EF4444;
    --primary-dark: #DC2626;
    --secondary: #f3eeda;

    --bg: #0F172A;

    --surface: #1E293B;

    --text: #F8FAFC;
    --text-muted: #94A3B8;
    
    --border: #334155;

    --success: #22C55E;

    --warning: #F59E0B;
}

#root {
    width: 100%;
}

html,
body 
{
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: 'Segoe UI', sans-serif;
}

.app-layout {
    width: 100%;
    min-height: 100vh;

    background-color: var(--bg);
}

.page {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 100%;
    max-width: 100%;

    padding: 24px;
    
    color: var(--text);
    text-align: center;
    background-color: var(--bg);
}

.temp {
    color: var(--warning);
}

.button {
    border: none;
    text-decoration: none;
    background-color: var(--border);

    text-transform: uppercase;
    font-weight: 600;

    padding: 12px;
    box-shadow: 6px 6px 0 black;

    color: var(--text);
}

.button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 0 black;
    background-color: var(--bg);
}

a.button {
    border: none;
    text-decoration: none;
    color: var(--warning)
}