:root {
    --primary: #EF4444;
    --primary-dark: #DC2626;
    --secondary: #f3eeda;

    --bg: #0F172A;

    --surface: #1E293B;

    --text: #F8FAFC;
    --text-muted: #94A3B8;
    
    --border: #334155;

    --success: #22C55E;

    --warning: #F59E0B;
    --warning-hover: #ff6f00;
}

* {
    box-sizing: border-box;
}

.app {
    width: 100%;
    min-height: 100%;
}

html,
body,
#root 
{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;

    overflow-x: hidden;

    font-family: 'Segoe UI', sans-serif;
}

.app-layout {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    background-color: var(--bg);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-width: 0;

    padding: 60px 0px 0px 0px;
    margin: 0;
    
    color: var(--text);
    text-align: center;
    background-color: var(--bg);

    flex: 1;
}

.temp {
    color: var(--warning);
}

.button {
    border: none;
    text-decoration: none;
    background-color: var(--border);

    text-transform: uppercase;
    font-weight: 600;

    padding: 12px;
    box-shadow: 6px 6px 0 black;

    color: var(--text);

    width: fit-content;
}

button.toggled {
    background-color: var(--warning);
}

button.toggled:hover {
    background-color: var(--warning-hover);
}

.button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 0 black;
    background-color: var(--bg);
}

a.button {
    border: none;
    text-decoration: none;
    color: var(--warning)
}

.highlight {
    color: var(--warning);
}

.subtitle {
    color: var(--text-muted);
}

.link {
    text-decoration: none;
    color: var(--text);
}

.link:hover {
    color: var(--warning);
}