.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.list-item.completed span {
    text-decoration: line-through;
    opacity: 0.5;
    color: var(--success);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.buttons button {
    border: none;
    box-shadow: 6px 6px 0 black;
    font-weight: 800;
    text-transform: uppercase;
}

.buttons button:hover {
    box-shadow: 4px 4px 0 black;
    cursor: pointer;
}

.delete {
    background: var(--primary);
}

.edit {
    background: var(--warning);
}

.complete {
    background: var(--success);
}

.save {
    background-color: var(--success);
}

.cancel {
    background-color: var(--primary);
}