.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    z-index: 1000;
    position: sticky;

    padding: 24px;

    width: 100%;

    color: var(--text);
    text-transform: uppercase;
    text-align: center;
    align-items: center;

    box-shadow: 0 6px 0 var(--surface);

    background-color: var(--bg);
}

.navTitle {
    height: fit-content;

    color: var(--text);
    text-decoration: none;

    font-size: 24px;
    font-weight: bold;
}

.navTitle:hover {
    cursor: pointer;
    color: var(--text-muted);
}

.links {
    display: flex;
    flex-direction: row;
    gap: 12px;

    height: fit-content;
    width: fit-content;
}


@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .navTitle {
        font-size: 1.5rem;
        max-width: 100%;
        overflow-wrap: break-word;
        text-align: center;
    }

    .navlinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .navlinks a,
    .navlinks button {
        font-size: 0.85rem;
        padding: 6px 10px
    }
}